@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Hanken Grotesk", serif;
}
/* ---------------header ------------------------- */
.header {
  height: 28px;
  background-image: linear-gradient(to right, rgb(29, 159, 179), rgb(1, 1, 87));
  color: #f1fbff;
  box-sizing: border-box;
  display: flex;
  align-items: center; 
}
.time {
  padding: 5px 15px;
  margin-left: 3em;
  border-left: 1px solid #f1fbff;
  border-right: 1px solid #f1fbff;
}
.phoneno {
  padding: 5px 15px;
  border-left: 1px solid #f1fbff;
  border-right: 1px solid #f1fbff;
}

.logo {
  margin-left: 24em;
  padding: 5px 13px;
}
#fb,
#in {
  padding: 5px 13px;
  /* border-left: 1px solid black; */
  /* border-right: 1px solid none; */
}
#insta {
  padding: 5px 15px;
  border-left: 1px solid #f1fbff;
  border-right: 1px solid #f1fbff;
}
#fb:hover,
#in:hover,
#insta:hover {
  background-color: white;
  color: blue;
}
#fb,
#in {
  padding: 5px 13px;
  border-left: 1px solid #f1fbff;
  /* border-right: 1px solid none; */
}
#insta {
  padding: 5px 15px;
  border-left: 1px solid #f1fbff;
  border-right: 1px solid #f1fbff;
}
/* -----------   navabar ------------------- */

nav {
  height: 80px;
  width: 100%;
  background-color: rgb(1, 1, 87);
 
}
nav ul {
  list-style-type: none;
  float: right;
  margin-right: 20px;
}
nav ul li {
   display: inline-block;
   line-height: 50px;
   margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
}
a.active,a:hover{
  color: lightblue;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display:none;
}
#check{
  display: none;
}

/* ----------------------contents-------------------- */
.body-content {
  display: flex;
  justify-content: center; 
   max-width: 1400px;
  
}
.contact-container{
  max-width: 1400px;
  padding: 50px;
  margin: 0 auto;
}
/* -------------------query------------------- */
.query{
  position: relative;
  margin-left: 15%;


}
.query h2::before{
  content: "";
  position:absolute;
  border-bottom: 20px solid;
  border-image: repeating-linear-gradient(60deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 1.5%, rgba(0, 0, 0, 0.1) 1.5%, rgba(0, 0, 0, 0.1) 3%) 30;
  width: 200px;
  height: 0;
  top: 48px;
  
}

/* -----------------Body left side ------------ */
.body-left-content{
   display: flex;
  border: 1px solid rgb(164, 162, 162);
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}
.heading h2 {
  color: #092a49;
}
.body-left-content .b-logo {
   display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(164, 162, 162);
  margin: 1rem 1rem;
  padding: 25px;
  width: 10px;
  height: 10px;
  font-size: 20px;
  color: #0796fe
 }

 

.map {
  margin-bottom: 60px;
  margin-left: 20px;
  border-radius: 5px;
  width: 40%; 
}

iframe {
  border-radius: 10px;
  width: 100%; 
  height: 450px; 
}





/* ---------------  footer ------------------------ */
/* footer{
 margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
footer{
 padding: 2rem;
  background-color:rgb(1, 1, 87);
  color: #ffffff;
}
.footer-wraper {
  max-width: 1200px;
  margin: 0 auto;
}
a {
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
a:hover {
  color: #0796fe;
}
hr {
  margin: 1rem 0;
}
.footer-container {
  max-width: 1400px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
 .footer-container h3::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  top: 2rem;
  left: 0;
  background: #0796fe;
}
.left-side {
  flex: 3 1 400px;
  h3 {
    position: relative;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  p {
    font-size: 1.05rem;
    margin-bottom: 1rem;
  }
  i {
    font-size: 1rem;
    margin-right: 0.5rem;
  }
  .footer-social {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    margin-bottom: 3rem;
  }
}
/* inside right-side h3,p,form-control etc css */
.right-side {
  /* flex grow- container will grow its size if there is space
  | flex shrink - container will shrink itself in absence of space
   flex bais - rewrites width of container and  sets  width of container */
  flex: 1 1 400px;
  h3 {
    position: relative;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  p {
    font-size: 1.05rem;
    margin-bottom: 1rem;
    width: 100%;
  }

  .form {
    position: relative;
    width: 100%;
  }
  .form-control {
    width: 100%;
    height: 45px;
    border: 2px solid #1d2434;
    border-radius: 2rem;
    padding: 0.375rem 0.75rem;
  }

  .btn {
    position: absolute;
    top: 13px;
    right: 2px;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 600;
    color: #092a49;
    background: none;
    border-radius: 2rem;
    border: 2px solid #092a49;
    transition: 0.3s;
  }
}
.bottom-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #999999;
}

/* ----------------- Media query------------------- */
@media (max-width: 992px) {
  
  .header {
    display: none;
  }
  label.logo{
    font-family: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}

@media (max-width: 858px){
   .header {
    display: none;
  }
  .checkbtn{
    display: block;
    font-size: 20px;
    
  }
  nav{
    position: sticky;
    top: 0;
    z-index: 100;
  }
  ul{
    box-sizing: border-box;
    position: fixed;
    margin-top: 0;
    z-index: 100;
    width: 100%;
    background-color:rgb(1, 1, 87); 
    top: 80px;
    left: -100%;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 10px;
  }
  nav ul li a{
    font-size: 18px;
  }
   a:hover,a.active{
    background: none;
    color: lightblue;
  }
  #check:checked ~ul{
    left:0;
  }

}
/* Media Query for Smaller Screens */
@media (max-width: 767px) {
  .body-content {
    flex-direction: column;
    
  }

  .map {
    margin-top: 20px;
    margin-left: 11px; 
    width: 95%; 
  }
}